.about {
	padding: 5px 0;

	.photo {
		width: 100%;
		height: auto;
		background: url("../img/kenneth.jpg");
		display: inline-block;
	}

	.social {
		padding: 34px 0 20px 0;

		a {
			padding-right: 10px;
		}
	}

	.details {
		color: @textColor2;
	}
}
