@import "metro";
@import "variables";
@import "header";
@import "login";
@import "about";
@import "footer";

header {
	padding: 30px 5px;
}

.page-content {
	padding-top: 3.125rem;
	padding-bottom: 3.5rem;
}

p {
	line-height: 20px;
}

article {
	header {
		padding: 0;
		margin-bottom: 25px;
	}
}
