<ul>
	{{#each model as |post|}}
		<div>
			{{post.title}}
		</div>
		<div>
			{{post.teaser}}
		</div>
		<div>
			{{#link-to "posts.show" post.id}}
				view post
			{{/link-to}}
		</div>
	{{/each}}
</ul>

