<h1>Posts</h1>

{{#metro-tile-area}}
	{{#metro-tile-group}}
		{{#each tiles as |tile|}}
			{{#metro-tile size="large"}}
				{{#link-to "posts.show" tile.id class="tile-content zooming"}}
					<div class="slide">
						<img src="http://loremflickr.com/310/310/dog">
					</div>
					<div class="tile-label">{{tile.title}}</div>
				{{/link-to}}
			{{/metro-tile}}
		{{/each}}
	{{/metro-tile-group}}
{{/metro-tile-area}}
