<div class="grid">
	<div class="row cells12">
		<div class="cell colspan8">
			<h1>Posts</h1>

			<section>
				<ul class="simple-list">
					{{#each model as |post|}}
						<li>
							{{#link-to "posts.show" post.id}}
								{{post.title}}: {{post.teaser}}
							{{/link-to}}
						</li>
					{{/each}}
				</ul>
			</section>
		</div>
		<div class="cell colspan4">
			Right Spot
		</div>
	</div>
</div>

<div class="tile-area no-padding">
	<div class="tile-group no-margin no-padding" style="width: 100%;">
		<div class="tile-large ol-transparent"></div>
		<div class="tile-wide ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile-wide ol-transparent"></div>
	</div>
</div>
