<div class="grid">
	<div class="row cells9">
		<div class="cell colspan8">
			<article>
				<header>
					<h2 class="sub-alt-header no-margin-top">
						{{moment-format model.createdAt "LL"}}
					</h2>

					<h1>{{{model.title}}}</h1>
				</header>
				<div class="content">
					{{{model.body}}}
				</div>
			</article>
		</div>
	</div>
</div>
