

<div class="grid">
	<div class="row cells12">
		<div class="cell colspan8">
			<h1>About Me</h1>

			<section>
				Left Spot
			</section>
		</div>
		<div class="cell colspan4">
			Right Spot
		</div>
	</div>
</div>
