{{#metro-app-bar fixed=true class="bg-grayDark"}}
	<div class="container">
		{{#link-to "index" class="app-bar-element branding"}}
			<span class="mif-paw mif-2x"></span>
		{{/link-to}}
		{{#link-to "about" class="app-bar-element about"}}About{{/link-to}}
		{{#link-to "posts" class="app-bar-element posts"}}Posts{{/link-to}}
	</div>
{{/metro-app-bar}}

<section class="container page-content">
	<div class="grid">
		<div class="row">
			{{outlet}}
		</div>
	</div>
</section>

<footer class="bottom-menu-wrapper fixed-bottom bg-grayDark">
	<div class="container">
		<ul class="horizontal-menu compact">
			<li>{{#link-to "index"}}&copy; 2015 Benson{{/link-to}}</li>
			<li class="place-right">{{#link-to "login"}}Login{{/link-to}}</li>
		</ul>
	</div>
</footer>