<div>
	<header class="app-bar fixed-top navy" data-role="appbar">
		<div class="container">
			<a href="/" class="app-bar-element branding"><img src="images/wn8.png"
			                                                  style="height: 28px; display: inline-block; margin-right: 10px;">
				Metro UI CSS</a>

			<span class="app-bar-pull"></span>

			<div class="app-bar-pullbutton automatic" style="display: none;"></div>
			<div class="clearfix" style="width: 0;"></div>
			<nav class="app-bar-pullmenu hidden flexstyle-app-bar-menu" style="display: none;">
				<ul class="app-bar-pullmenubar hidden app-bar-menu"></ul>
			</nav>
		</div>
	</header>
</div>
<div class="page-content">
	<h2 id="title">Welcome to Benson</h2>

	{{outlet}}
</div>