<header class="container">
	<h1 class="leader">
		{{#link-to "index"}}
			Kenneth Buck
		{{/link-to}}
	</h1>
	<h2 class="sub-header">
		Full Stack Developer
	</h2>
</header>

{{#metro-app-bar class="bg-grayDark"}}
	<div class="container">
		{{#link-to "index" class="app-bar-element"}}
			Home
		{{/link-to}}
		{{!--#link-to "index" class="app-bar-element branding"}}
			<span class="mif-home mif-2x"></span>
		{{/link-to}}
		{{#link-to "posts" class="app-bar-element posts"}}Posts{{/link-to--}}
	</div>
{{/metro-app-bar}}

<section class="container page-content">
	<div class="grid">
		<div class="row cells12">
			<div class="cell colspan9">
				{{outlet}}
			</div>
			<div class="cell colspan3 about">
				<img src="/img/kenneth.jpg" class="photo block-shadow-impact">
				<div class="social">
					<a href="https://www.linkedin.com/in/kdbuck" class="mif-linkedin mif-2x" target="_blank"></a>
					<a href="https://github.com/kennethdavidbuck" target="_blank" class="mif-github mif-2x"></a>
					<a href="https://twitter.com/kdbuck" class="mif-twitter mif-2x" target="_blank"></a>
					<a href="https://plus.google.com/u/0/111219532177253049109/posts/p/pub" class="mif-google-plus mif-2x"
					   target="_blank"></a>
				</div>
				<div class="details">
					<p>
						Kenneth is a recovering <a href="http://www.joelonsoftware.com/articles/fog0000000018.html"
						                           target="_blank">architect astronaut</a>,
						based out of Toronto, Ontario. Back on earth, he spends his recovery time playing foosball, drinking
						coffee, and browsing hacker news.
					</p>

					<p>
						He finished his first degree in Archaeology in 2008 only to realize
						how much he loved computers. He knew he had "no choice" but to head back to school
						for a second degree in Computer Science. He has been helplessly addicted
						to software and programming ever since.
					</p>

					<p>
						While in school he paired up with his former archaeology department to produce different works
						including <a href="http://www.arcticiq.com" target="_blank">ArcticIQ</a>, a web based application geared
						towards
						the preservation and transmission of Inuit word meaning, and <a href="http://www.fortconger.ca"
						                                                                target="_blank">Fort Conger</a>,
						a maquette that was successful in securing funding through VMC Canada. He also enjoyed plenty of time
						at <a href="http://www.aquanode.com" target="_blank">Aquanode</a>, a small Calgary based dev shop.
					</p>

					<p>
						In 2013, he leaped straight out of university and directly into
						<a href="https://www.bridezillahq.com" target="_blank">Bridezillahq</a>, a startup geared towards
						disrupting the wedding market.
						He spent 14th months there as CTO before deciding that the wedding game wasn't his style. He is now on
						the lookout
						for his next big adventure. You can reach him at <a href="mailto:kenneth@kennethbuck.ca">kenneth@kennethbuck.ca</a>
						for opportunities and inquiries.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="bottom-menu-wrapper bg-grayDark">
	<div class="container">
		<ul class="horizontal-menu compact">
			<li>{{#link-to "index"}}&copy; 2015 Kenneth Buck{{/link-to}}</li>
			{{!--<li class="place-right">{{#link-to "login"}}Login{{/link-to}}</li>--}}
		</ul>
	</div>
</footer>