<div class="grid">
	<div class="row cells9">
		<div class="cell colspan8">
			{{#each model as |article|}}
				<article>
					<header>
						<h2 class="sub-alt-header no-margin-top">
							{{moment-format article.createdAt}}
						</h2>
						<h1>
							{{#link-to "posts.show" article.id}}
								{{article.title}}
							{{/link-to}}
						</h1>
					</header>
					<div class="content">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet magna a ex maximus venenatis. Proin
							ac
							magna enim. Quisque semper eros et libero porttitor faucibus. Nulla consequat ac orci quis malesuada. Proin
							sem
							massa, euismod sit amet lectus sit amet, varius viverra dui. Quisque laoreet elit ut urna varius, vulputate
							dapibus velit iaculis. Nam sed orci non diam sodales vehicula. Maecenas at faucibus dui.
						</p>

						<p>
							In hac habitasse platea dictumst. Nulla nec nulla magna. Aliquam non tellus vitae dolor eleifend ultrices ut
							a
							lacus. Suspendisse potenti. Nam augue lacus, varius eu venenatis sit amet, faucibus sit amet magna. Proin
							lacinia, sapien ut rutrum pharetra, mauris sem consequat nisi, id rhoncus dui justo quis tellus. Quisque
							placerat tristique velit quis gravida.
						</p>
					</div>
					<div class="tags">
						<span class="tag success">categories</span>
						<span class="tag info">foo</span>
						<span class="tag info">bar</span>
						<span class="tag info">baz</span>
					</div>
				</article>
			{{/each}}
		</div>
	</div>
</div>
