<div class="tile-area no-padding">
	{{#metro/tile-group}}
		<div class="tile-large ol-transparent"></div>
		<div class="tile-wide ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile-wide ol-transparent"></div>
	{{/metro/tile-group}}

	{{#metro/tile-group}}
		<div class="tile-large ol-transparent"></div>
		<div class="tile-wide ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile ol-transparent"></div>
		<div class="tile-wide ol-transparent"></div>
		<div class="tile ol-transparent"></div>
	{{/metro/tile-group}}
</div>
