<div class="grid">
	<div class="row cells9">
		<div class="cell colspan8">
			{{#each model as |article|}}
				<article>
					<header>
						<h2 class="sub-alt-header no-margin-top">
							{{moment-format article.createdAt "LL"}}
						</h2>
						<h1>
							{{#link-to "posts.show" article.id}}
								{{{article.title}}}
							{{/link-to}}
						</h1>
					</header>
					<div class="content">
						{{{article.teaser}}}
					</div>
					{{#if article.categories.length}}
						<div class="tags">
							<span class="tag success">categories</span>

							{{#each article.categories as |category|}}
								<span class="tag info">{{category.title}}</span>
							{{/each}}
						</div>
					{{/if}}
				</article>
			{{/each}}
		</div>
	</div>
</div>
